{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Predict Bike Share Count</h1>

    <div class="form">
        <form action="/predict" method="POST">
            <h5> Select  time(In hours) </h5>
            <input  type="number"  name="Time" id="Hour"  min="0" max="24" style="width: 4em;">
            <br>
            <h5> Select Temperature </h5>
            <input type="number" name="Temp" id="Temperature(°C)"  min="0" max="1" style="width: 4em;" >degree
            <h5> Select Humidity </h5>
            <input type="number" name="Humid" id="Humidity(%)"   min="0" max="1" style="width: 4em;" >%
            <br>
            <h5> Select Wind Speed</h5>
            <input type="number" name="Speed of Wind" id="Wind speed (m/s)"   min="0" max="1" style="width: 4em;" >m/s
            <br>
            <h5> Enter the value of Visibility </h5>
            <input type="number" name="Visibility" id="Visibility (10m)"   min="0" max="1" style="width: 3em;">
            <br>
            <input type="number" name="occ_husb_6" id="occ_husb_6"  min="0" max="1" style="width: 3em;">advanced degree
            <br><br>

             <input type="number" name="rate_marriage" id="rate_marriage" placeholder="rate_marriage"  min="0" max="5" step="any">
            <br>
            <input type="number" name="age" id="age" placeholder="age" min="20" max="60">
                <br>
            <input type="number" name="yrs_married" id="yrs_married" placeholder="yrs_married">
                <br>
            <input type="number" name="children" id="children" placeholder="children">
                <br>
            <input type="number" name="religious" id="religious" placeholder="religious" min="0" max="5" step="any">
                <br>
            <input type="number" name="educ" id="educ" placeholder="educ">
                <br>



            <input type="submit" value="Predict">
        </form>
    </div>
</div>
{% endblock %}