{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Predict Bike Share Count</h1>

    <div class="form">
        <form action="/predict" method="POST">
            <h5> Select  time(In hours) </h5>
            <input  type="number"  name="Time" id="Hour"  min="0" max="23" style="width: 4em;">
            <br>
            <h5> Select Temperature </h5>
            <input type="number" name="Temp" id="Temperature(°C)"  min="-17.8" max="39.4" step="any" style="width: 4em;" >degree
            <h5> Select Humidity </h5>
            <input type="number" name="Humid" id="Humidity(%)"   min="0" max="98" step="any" style="width: 4em;" >%
            <br>
            <h5> Select Wind Speed</h5>
            <input type="number" name="Speed of Wind" id="Wind speed (m/s)"   min="0" max="7.3" step="any" style="width: 4em;" >m/s
            <br>
            <h5> Enter the value of Visibility </h5>
            <input type="number" name="Visibility" id="Visibility (10m)"   min="27" max="1000" step="any" style="width: 3em;">
            <br>
            <h5>Enter Dew Factor </h5>
            <input type="number" name="Dew" id="Dew point temperature(°C)"  min="-30.6" max="27.2" style="width: 3em;">Dew Degree
            <br>
            <h5>Enter the solar radiation value</h5>
             <input type="number" name="solar_rad" id="Solar Radiation (MJ/m2)" placeholder="solar_rad"  min="0" max="3.52" step="any">MJ/m2
            <br>
            <h5>Rainfall in mm</h5>
            <input type="number" name="rainfall" id="Rainfall(mm)" placeholder="rainfall" min="0" max="35" step="any" style="width: 4em;">mm
                <br>
            <h5> Enter snowfall rate</h5>
            <input type="number" name="snowfall" id="Snowfall (cm)" placeholder="snow fall" min="0" max="5" step="any" style="width: 4em;">cm

                <br>
            <h5>Enter the season </h5>
            <select name="Seasons" id="Seasons">
           <option value="1">Winter</option>
           <option value="3">Spring</option>
           <option value="0">Summer</option>
           <option value="2">Autumn</option>
           </select>
            <br>
             <h5> Is there any holiday or not </h5>
            <slect name="Holiday" id="Holiday">
                <option value="1">Working Day</option>
                <option value="0">Holiday</option>
            </slect>
            <br>
            <slect name="Functioning Day" id="Functioning Day">
                <option value="1">Functioning Day</option>
                <option value="0">Non Functioning Day</option>
            </slect>
            <input type="submit" value="Predict">
        </form>
    </div>
</div>
{% endblock %}